<div class="container after-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Tytuł </th>
      <td mat-cell *matCellDef="let rent"> {{rent.book.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let rent"> {{rent.book.author}} </td>
    </ng-container>

    <ng-container matColumnDef="borrowDate">
      <th mat-header-cell *matHeaderCellDef> Data wypożyczenia </th>
      <td mat-cell *matCellDef="let rent"> {{rent.borrow.borrowDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="borrowReturnDate">
      <th mat-header-cell *matHeaderCellDef> Data oddania </th>
      <td mat-cell *matCellDef="let rent"> {{rent.borrow.borrowReturnDate | date}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let rent"> {{rent.borrow.fee}} </td>
    </ng-container> -->

    <ng-container matColumnDef="fee">
      <th mat-header-cell *matHeaderCellDef> Naliczona opłata </th>
      <td mat-cell *matCellDef="let rent"> {{rent.borrow.fee}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>