<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Biblioteka publiczna</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="register" *ngIf="getUserRole()==''">Rejestracja</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="login" *ngIf="getUserRole()==''">Login</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="booksList" *ngIf="getUserRole()=='USER'">Wyszukaj książki</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="addBook" *ngIf="getUserRole()=='ADMINISTRATOR'">Dodaj książkę</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="editBook" *ngIf="getUserRole()=='ADMINISTRATOR'">Edytuj książkę</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="editUser" *ngIf="getUserRole()=='ADMINISTRATOR'">Edytuj użytkownika</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="reservationsList" *ngIf="getUserRole()=='ADMINISTRATOR'">Rezerwacje</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="rentStory" *ngIf="getUserRole()=='USER'">Historia wypożyczeń</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="logout" *ngIf="isAuthenticated()" (click)="logout()">Wyloguj</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>