<div class="container after-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Tytuł </th>
      <td mat-cell *matCellDef="let book"> {{book.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let book"> {{book.author}} </td>
    </ng-container>

    <ng-container matColumnDef="dateOfRelease">
      <th mat-header-cell *matHeaderCellDef> Data wydania </th>
      <td mat-cell *matCellDef="let book"> {{book.dateOfRelease | date}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfCopies">
      <th mat-header-cell *matHeaderCellDef> Number of Copies </th>
      <td mat-cell *matCellDef="let book"> {{book.numberOfCopies}} </td>
    </ng-container>

    <ng-container matColumnDef="availableCopies">
      <th mat-header-cell *matHeaderCellDef> Akcja</th>
      <td mat-cell *matCellDef="let book">

        <button *ngIf="book.availableCopies && !book.isReserved" type="button" class="btn btn-success" (click)="onReservationClick(book)">Rezerwuj</button>
        <button *ngIf="!book.availableCopies && !book.isReserved" type="button" class="btn btn-danger">Niedostępna</button>
        <button *ngIf="book.isReserved" type="button" class="btn btn-danger" (click)="onRemoveReservationClick(book)">Anuluj rezerwacje</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>