<div class="container after-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center">

    <ng-container matColumnDef="isbn">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let book"> {{book.isbn}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Tytuł </th>
      <td mat-cell *matCellDef="let book"> {{book.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let book"> {{book.author}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfCopies">
      <th mat-header-cell *matHeaderCellDef> Liczba egzemplarzy </th>
      <td mat-cell *matCellDef="let book">
        <input class="col-md-4" type="number" [(ngModel)]="book.numberOfCopies" min="1">
        <button type="button" class="btn btn-success " (click)="onAddClick(book)">Aktualizuj</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="dateOfRelease">
      <th mat-header-cell *matHeaderCellDef> Data wydania </th>
      <td mat-cell *matCellDef="let book"> {{book.dateOfRelease | date}} </td>
    </ng-container>


    <ng-container matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let book">
        <button type="button" class="btn btn-danger " (click)="onRemoveClick(book)">Usuń</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>